{% extends "league/base.html" %}
{% block title %}Propor troca{% endblock %}

{% block content %}
<h1>Propor troca</h1>

<form method="post">
  {% csrf_token %}

  <h3>Jogadores que você quer RECEBER</h3>
  {% for p in target_players %}
    <label>
      <input type="checkbox" name="target_players" value="{{ p.player.id }}">
      {{ p.player.name }}
    </label><br>
  {% endfor %}

  <hr>

  <h3>Jogadores que você vai ENVIAR</h3>
  {% for p in my_players %}
    <label>
      <input type="checkbox" name="my_players" value="{{ p.player.id }}">
      {{ p.player.name }}
    </label><br>
  {% endfor %}

  <br>

  <button type="submit"
    style="border:1px solid #0b57d0; background:#0b57d0; color:white; padding:8px 14px; border-radius:6px;">
    Enviar proposta
  </button>
</form>

<br>

<a href="{% url 'team_roster' draft.id target_team.id %}">
  ← Voltar
</a>
{% endblock %}